
{% extends "layout.html" %}
        {% block content %}

<head>
    <title>{% block title %} Edit Profile {% endblock %}</title>

</head>
<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    <nav class="nav nav-borders">
        <a class="nav-link active ms-0" href="https://www.bootdey.com/snippets/view/bs5-edit-profile-account-details"
           target="__blank">Profile</a>
    </nav>
    <hr class="mt-0 mb-4">

    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Profile Picture</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                        <img class="img-account-profile rounded-circle mb-2 img-fluid"
                             src="{{ url_for('static', filename='images/' ~ current_user.profile_picture) }}"
                             alt="" style="width: 150px; height: 150px; object-fit: cover;">
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <div class="card mb-4">
                <div class="card-header">Account Details</div>
                <div class="card-body">
                    <form method="post" class="container" enctype="multipart/form-data">
    <div class="form-group">
        {{register.user_name.label(class="form-label")}}
        {{ register.user_name(class="form-control", value=current_user.username) }}
    </div>
    <div class="form-group ">
        {{ register.email.label(class="form-label")}}
        {{ register.email(class="form-control", value=current_user.email) }}
    </div>
    <div class="form-group ">
        {{ register.full_name.label(class="form-label")}}
        {{ register.full_name(class="form-control", value=current_user.fullname) }}
    </div>

 <div class="form-group ">
        {{ register.profile_picture.label(class="form-label")}}
     {{ register.profile_picture(class="form-control-file") }}
    </div>
     <hr>
    <div class="form-group">
        {{ register.submit(class="form-control btn btn-primary")}}
    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
    {% endblock %}