

{% extends "layout.html" %}
        {% block content %}
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    {% for posts in post %}
                    <div class="post-preview">
                        <a href="{{ url_for('show_posts', sno=posts.id) }}">
                            <h2 class="post-title">{{ posts.title }}</h2>
                            <h3 class="post-subtitle">{{ posts.subtitle }}</h3>
                            {% if posts.profile_picture %}
                            {% endif %}
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a>{{ posts.author }}</a>on {{posts.time}} 24, 2023
                        </p>
                    </div>
                    {% endfor %}
                    {% if current_user.is_authenticated %}
                    <div class="d-flex justify-content-end mb-4">
                        <a class="btn btn-primary text-uppercase" href="{{url_for('create_post')}}">Create Post</a></div>
                </div>
                {% endif %}
            </div>
        </div>

{% endblock %}
