{% extends "layout.html" %}
{% block content %}
<title>{% block title %} Login Page {% endblock %}</title>
<div class="container">
   <div class="row justify-content-center">
      <div class="col-lg-6">
         <form class="form-signup" method="post">
                {{ form.hidden_tag }}
            <h2 class="text-center mb-4">OTP Verification</h2>
            <div class="mb-3">
                <input  name="otp" class="form-control" placeholder="Enter Otp" required>
            </div>
             <button type="submit" class="btn btn-primary btn-block">Verify Gmail</button>
         </form>

      </div>
   </div>
</div>
{% endblock %}